.region-footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.region-footer .menu:after {
  content: " ";
  display: table;
  clear: both;
}

.region-footer .menu > .menu-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.region-footer .menu > .menu-item a {
  display: block;
  margin: 0;
  padding: .5em;
  list-style: none;
  text-decoration: none;
}

.region-footer .menu > .menu-item a:hover {
  text-decoration: underline;
}
