.region-primary-menu .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.region-primary-menu .menu:after {
  content: " ";
  display: table;
  clear: both;
}

.region-primary-menu .menu > .menu-item {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 2em;
  float: left;
}

.region-primary-menu .menu > .menu-item a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: .5em;
  line-height: 1em;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
}

.region-primary-menu .menu > .menu-item .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 2em;
  left: 0;
  z-index: 1;
  min-width: 250%;
  display: none;
}

.region-primary-menu .menu > .menu-item .menu-item {
  height: auto;
}

.region-primary-menu .menu > .menu-item .menu-item a {
  padding: .5em;
  text-align: left;
  height: auto;
}

.region-primary-menu .menu > .menu-item:last-child ul {
  left: auto;
  right: 0;
}

.region-primary-menu .menu > .menu-item ul li {
  float: none;
}

.region-primary-menu .menu > .menu-item:hover ul {
  display: block;
}

.region-primary-menu .menu > .menu-item .menu-item .sub-menu {
  display: none;
}

@media (max-width: 720px) {

  .region-primary-menu .menu:before {
    content: "\2630  Menu";
    display: block;
    line-height: 1.5em;
    font-size: 150%;
    padding: .25em;
  }

  .region-primary-menu .menu > .menu-item {
    display: none;
    width: 50%;
    border: .25em solid #ccc;
    box-sizing: border-box;
    height: auto;
  }

  .region-primary-menu .menu:hover > .menu-item,
  .region-primary-menu .menu[data-open = "true"] > .menu-item  {
    display: block;
  }

  .region-primary-menu .menu > .menu-item:hover ul {
    display: none;
  }

}

@media (max-width: 600px) {

  .region-primary-menu .menu > .menu-item {
    float: none;
    width: 100%;
    display: none;
  }

}
