body {
  margin: 0;
  font-size: 100%;
}

#site-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.area:before,
.area:after {
  content: " ";
  display: table;
  clear: both;
  width: 100%;
}

#content-area .region {
  float: left;
}

#content-area .region-content:first-child:last-child {
  float: none;
}

#content-area .region-content:first-child:nth-last-child(2) {
  width: 75%;
  margin-left: 25%;
}

#content-area .region-content:first-child:nth-last-child(2) ~ .region-sidebar-first {
  width: 25%;
  margin-left: -100%;
}

#content-area .region-content:first-child:nth-last-child(3) {
  width: 50%;
  margin-left: 25%;
}

#content-area .region-content:first-child:nth-last-child(3) ~ .region-sidebar-first {
  width: 25%;
  margin-left: -75%;
}

#content-area .region-content:first-child:nth-last-child(3) ~ .region-sidebar-second {
  width: 25%;
}

@media (max-width: 800px) {

  #content-area .region-content:first-child:last-child,
  #content-area .region-content:first-child:nth-last-child(2),
  #content-area .region-content:first-child:nth-last-child(3)  {
    width: 100%;
    margin-left: 0;
    float: none;
  }

  #content-area .region-content:first-child:nth-last-child(2) ~ .region-sidebar-first,
  #content-area .region-content:first-child:nth-last-child(3) ~ .region-sidebar-first,
  #content-area .region-content:first-child:nth-last-child(3) ~ .region-sidebar-second  {
    width: 50%;
    margin-left: 0;
  }

}

@media (max-width: 600px) {

  #content-area .region-content:first-child:nth-last-child(2) ~ .region-sidebar-first,
  #content-area .region-content:first-child:nth-last-child(3) ~ .region-sidebar-first,
  #content-area .region-content:first-child:nth-last-child(3) ~ .region-sidebar-second  {
    width: 100%;
    float: none;
  }

}


